/**************************************************/

					/*GLOBAL CSS */

/**************************************************/

body{
	padding:0;
	margin:0;
	background-color: #f8f8f2;
	width: 100vw;
	font-family: 'Assistant', sans-serif;
}


h1, h2{
	font-family: 'Berkshire Swash', cursive;
}

h2{
	font-size:36px;
	margin-top:0;
	font-size:48px;
	color: #67a943;
}

.loader {
	width:80px;
	height:80px;
	display:block;
	margin: 0 auto;
	margin-bottom:20px;
}
/**************************************************/

					/*BUTTON CSS */

/**************************************************/

.btn_finish, .btn_order{
	display:inline-block;
	margin-top: 20px;
	padding: 10px 30px;
	border: solid 2px currentColor;
	border-radius: 6px;
	background-color: #67a943;
	color: #fff;
	text-decoration: none;
}

.conB .btn_order {
	display:inline-block;
	margin-top: 20px;
	padding: 10px 30px;
	border: solid 2px currentColor;
	border-radius: 6px;
	background-color: #67a943;
	color:#fff;
	text-decoration: none;
}

.btn_order:hover{
	text-decoration: none;
	color:white;
	background-color: #333333;
	transition: 0.5s ease;
}

/*Add/Remove button*/ 

.add , .remove{
	cursor:pointer;
	border:none;
	outline:none;
	background: none;
	color: #67a943;
	font-size: 14px !important;
}

hr{
	width:50%;
}

/******************************************************************************/

								/*INDEX CSS */

/******************************************************************************/


.conA{
	display:flex;
	height:100vh;
	min-height:450px; 
	background-size: cover;
	background: url("../img/debut_dark.png");
	justify-content:center;
}

.conA a{
	display:inline-block;
}

.conA .container{
align-items: center;
text-align: center;
}

.conA .container h1{
	margin-top:70px;
	font-size:110px;
	color: #67a943;
	font-family: 'Berkshire Swash', cursive;
	text-shadow:1px 2px 10px black;
}

	.conA .container img{
	position:relative;
	margin:20px;
	animation: fadeIn 1s infinite alternate
	}

	@keyframes fadeIn {
	from {
	opacity: 0.9; }

	to {
	opacity: 0.1; } }

	.conA .container p {
		color: #67a943;
	}

	.conA .container-child{
	display:inline-block;
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	margin-bottom:50px;
	}


/******************************************************************************/

								/*HEADER CSS */

/******************************************************************************/

header{
	padding-top:20px;
}

header h2{
	padding-bottom: 30px;
	margin:0;
	text-align: center;
	color:#333333;
}

header .helpbutton{
	position:absolute;
	left:0;
	top:0;
	height:75px;
	width:75px;
	border:none;
	outline:none;
	background: none;
	background-color: #333333;
	cursor:pointer;
	border-radius: 3px;
	padding:10px;
	margin:10px;
}

header .button-container {
	font-size:30px;
	color:white;
}


header .button-container p{
	font-size:12px;
	margin:10px;
}

header .myorderbutton{
	position:absolute;
	right:0;
	top:0;
	height:75px;
	width:75px;
	border:none;
	outline:none;
	background: none;
	background-color: #67a943;
	cursor:pointer;
	border-radius: 3px;
	padding:10px;
	margin:10px;
}

header .myorderbutton p{
	margin:0;
	margin-top:10px;
}

/*TOGGLE BUTTON*/
.headC {
	margin-right:0;
	padding:0;
	cursor:pointer;
}

/*BOOTSTRAP NAVBAR */

.navbar-default{
	background-color: #67a943;
	border: #67a943;
	color: white;
}

.navbar-default a{
	color:white;
}

.navbar-inverse .navbar-toggle {
	border-color: white;
}

/*ACTIVE ITEM CSS*/
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
	background-color: #333333;
	width:100%;
}

/*NAVBAR ITEMS CSS*/
.navbar-inverse .navbar-nav>li>a{
	color:white;
	font-size:18px;
}

.navbar-inverse .navbar-brand {
	color:white;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-fixed {
  top: 0;
  z-index: 100;
  position: fixed;
  width: 100%;
}

/******************************************************************************/

								/*CON B - MENU */

/******************************************************************************/

.conB {
	margin-bottom: 60px;
}


.conB .container{
	border-radius: 5px;
	padding-top: 30px;
	display:block;
	margin: 0 auto;
	width: 80%;
	min-height:450px;
	background-color: white;
	text-align: center;
	box-shadow: 1px 2px 3px #ddd;
}

.conB .container article{
/*	border: 1px solid #333333;*/
	display:block;
	margin: 0 auto;
	max-width: 1000px;
	padding-top:20px;
	padding-bottom:30px;
	line-height: 1.8;
}

.conB .container img{
	width: 100px;
}


.headC{
	margin-left: 10px;
	padding:0;
	border:none;
	outline:none;
	background: none;
	font-size:28px;
	cursor:pointer;
}

.conB .container .menudiv {
	width: 80%;
	height:2px;
	background: #67a943;
}

/******************************************************************************/

								/*CON C- CONFIRM ORDER */

/******************************************************************************/

.conC{
padding:20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	background-color: white;
	box-shadow: 1px 2px 3px #ddd;
}

.conC h2{
	text-align: center;
}



/******************************************************************************/

								/*CON D - THANK YOU FOR ORDER  */

/******************************************************************************/
.conD{
	background-color: #67a943;
	height:100vh;
	width:100vw;
}

.conD .container{
position: fixed;
  top: 50%;
  left: 50%;
  width:100vw;
  transform: translate(-50%, -50%);
  text-align: center;
  color:white;
}

.conD .container h2{
	color:white;
	margin:30px;
}

footer {
	width:100%;
	background-color: #67a943;
}

footer .container {
	text-align: center;
}

footer .container p{
	color: white;
	padding:10px;
}

/******************************************************************************/

								/*MODAL CSS */

/******************************************************************************/

.modal-header .modal-title{
	padding-bottom: 30px;
	margin:0;
	text-align: center;
	color:#333333;
	font-size: 50px;
	font-family: 'Berkshire Swash', cursive;
}

.quantity{
	display:flex;
	justify-content:space-between;
	position:absolute;
}

#CartContainer h4{
	margin:0;
}

.quantity .product_quantity{
	font-weight: bolder;
	margin:3px;
}

/*CART FIX CSS */
#template {
  display: none; }

.hidden {
  display: none; }

/*TEMPORARY BUG FIX*/
.container-bug-fix{
	display:none;
}




/*PROGRESS BAR CSS*/

#progressbar {
	display:block;
	margin:auto;
	border: solid 1px #ddd;
	border-radius: 3px;
    width: 80%;
    background-color: white;
}
#progress{
	border-radius: 3px;
    width: 0%;
    height: 30px;
    background-color: #67a943;
}

#progress-number{
	text-align: center;
  line-height: 30px;
  color: #333333;
  font-weight: bold;

}

/******************************************************************************/

								/*POP UP */

/******************************************************************************/

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #67a943;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #67a943 transparent transparent transparent;
}

/* ORDER ADDED POP UP */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeinout 3s linear forwards;
    animation: fadeinout 3s linear forwards;
}

@-webkit-keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}

@keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}

/**************************************************/

				/*MEDIA QUERIES */

/**************************************************/


@media (max-width: 767px){

	header h2{
		font-size:35px;
		margin-bottom:20px;
	}

	.conA .container h1{
		font-size: 15vw;
		top:50%;

	}
	.conA .container-child{
	display:inline-block;
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	margin-bottom:20px;
	}

	.conC .container {
		width:70vw;
		height:70%;
	}

}

